<h1>Employee Data</h1>

<a href = '/employees/new'>Create</a>


<div style=  "display:flex; box-sizing:border-box; padding: auto .5rem; border:1px solid black; width:100%; justify-content:space-around">
<h3> Name</h3>
<h3> Salary</h3>
<h3> city</h3>
<h3>Delete</h3>
<h3> update </h3>
</div>

<% @employees.each do |emp| %>

<div style=  "display:flex; box-sizing:border-box; padding: auto .5rem; 
border:1px solid black; width:100%; justify-content:space-around">

<div>
<%= emp.name%>
</div>

<div>
<%= emp.age%>
</div>

<div>
<%= emp.city%>
</div>

<div>
<%= button_to 'delete', employee_path(emp), method: :delete %>
</div>

<div>
<%= link_to 'Update', edit_employee_path(emp) %>
</div>



</div>
<% end %>



